

<div *ngIf="selectedStudent">

  <app-title [title]="'Aluno(a): ' + selectedStudent"></app-title>
  aluno selecionado: {{ selectedStudent }}

  <br>

  <button class="btn btn-default" (click)="comeback()">Voltar</button>

</div>

<div *ngIf="!selectedStudent">

  <app-title [title]="title"></app-title>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th>Telefone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students" style="cursor:pointer" (click)="selectStudent(student)">
        <th scope="row">{{ student.id }}</th>
        <td>{{ student.name }}</td>
        <td>{{ student.surname }}</td>
        <td>{{ student.phonenumber }}</td>
      </tr>
    </tbody>
  </table>
</div>

